<ion-view view-title="Playlist">
  <!-- <div class="list bar bar-header bar-dark">
    <h1 class="title"><i class="ion-music-note padding-right"></i>Header</h1>
  </div>
  <div class="bar bar-subheader bar-calm">
    <h2 class="title"><i class="ion-headphone padding-right"></i>Sub Header</h2>
  </div> -->
  <ion-content class="padding">
    <button class="button button-stable">
      button-stable
    </button>

    <div class="list">

            <a class="item item-icon-left" href="#">
              <i class="icon ion-email"></i>
              Check mail
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-chatbubble-working"></i>
              Call Ma
              <i class="icon ion-ios7-telephone-outline"></i>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-mic-a"></i>
              Record album
              <span class="item-note">
                Grammy
              </span>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-person-stalker"></i>
              Friends
              <span class="badge badge-assertive">0</span>
            </a>

            <div class="item item-divider">
              Activities
            </div>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-flask"></i>
              Breaking Bad
              <span class="item-note">
                Blue, yellow, pink
              </span>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-music-note"></i>
              Music
              <span class="item-note">
                JT
              </span>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-game-controller-b"></i>
              Games
              <span class="item-note">
                Super Mario
              </span>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-bag"></i>
              Shopping
              <i class="icon ion-arrow-right-c"></i>
            </a>

          </div>

    <!-- <div class="bar bar-footer bar-balanced">
        <button class="button button-clear ion-android-arrow-back">Left</button>
        <div class="title">Footer</div>
    </div> -->
  </ion-content>
</ion-view>
